@{
    ViewBag.Title = "Home";
}

<style>
    .dimgray {
        color: dimgray;
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="jumbotron center-block" style="width:80%; background-color:aliceblue;">
    <h2>Trust psycheo2psyche with your mental health</h2>
    <p class="lead">
        Our mission is simple: to help you feel better, get better and stay better.

        We bring together self-care, support from qualified therapists and psychiatrists,
        as well as community access to deliver the best quality mental healthcare for your needs.
    </p>
    @if (Session["User"] == null)
    {
        <p><a href="/Authentication/Signup" class="btn btn-lg btn-cadetblue">Sign up &raquo;</a></p>
    }

</div>
<div class="row center-block" style="width:80%;">
    <div class="col-md-4">
        <center><img src="~/Content/images/depression.jpg" style="width:300px;" /></center>
        <h2>Depression</h2>
        <p>
            Do you feel like your sadness just won’t go away, and it is hard to find a way ahead? We can help.
        </p>
        <p><a class="btn btn-cadetblue" href="/Service/Index?ServiceCalled=Depression">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <center><img src="~/Content/images/alcoholaddiction.jpg" style="width:300px;" /></center>
        <h2>Alcohol Addiction</h2>
        <p>
            Is your use of alcohol interfacing with your ability to lead your life fully?
            You can find the right support.
        </p>
        <p><a class="btn btn-cadetblue" href="/Service/Index?ServiceCalled=Alcohol%20Addiction">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <center><img src="~/Content/images/Anxiety.jpg" style="width:300px;" /></center>
        <h2>Anxiety</h2>
        <p>Do you often feel restless, worried or on-edge? Let us help you on how to cope better.</p>
        <p><a class="btn btn-cadetblue" href="/Service/Index?ServiceCalled=Anxiety">Learn more &raquo;</a></p>
    </div>
</div>
<br />
<br />
<div class="row center-block" style="width:80%;">
    <div class="col-md-4">
        <center><img src="~/Content/images/OCD.jpg" style="width:300px;" /></center>
        <h2>OCD</h2>
        <p>
            Yes I have ocd. No, it isn't just about being a "neat freak
        </p>
        <p><a class="btn btn-cadetblue" href="/Service/Index?ServiceCalled=OCD">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <center><img src="~/Content/images/ADHD.jpg" style="width:300px;" /></center>
        <h2>ADHA</h2>
        <p>
            ADHA isn't a bad thing, and you shouldn't feel different from those without ADHA."
        </p>
        <p><a class="btn btn-cadetblue" href="/Service/Index?ServiceCalled=ADHA">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <center><img src="~/Content/images/schizophenia.jpg" style="width:300px;" /></center>
        <h2>schizophrenia</h2>
        <p>Schizophrenia cannot be understood without understanding despair.</p>
        <p><a class="btn btn-cadetblue" href="/Service/Index?ServiceCalled=Schizophrenia">Learn more &raquo;</a></p>
    </div>
</div>
<hr />
<div class=".container-fluid" style="background-color:inherit;">
    <div class="jumbotron text-center" style="background-color:aliceblue; color:cadetblue;">
        <h2>Why choose psychon2psyche</h2>
        <p class="lead">
            Our platform is built by psychiatrists, therapists and mental health experts with immense global experience.
        </p>
    </div>
    <div class="row text-center center-block" style="width:80%;color:dimgray;">
        <div class="col-md-4">
            <h3>Accessibility</h3>
            <p>
                By Providing Self-Report Questionnaires Online, Individuals Can Conveniently Assess Their Mental Health From The Comfort Of Their Own Homes
            </p>
        </div>
        <div class="col-md-4">
            <h3>Empowerment Through Self-Assessment</h3>
            <p>
                Offering Psychological Self-Report Questionnaires Empowers Individuals To Take An Active Role In Their Mental Health
            </p>
        </div>
        <div class="col-md-4">
            <h3>Resource Provision</h3>
            <p>Your Website Not Only Provides Self-Assessment Tools But Also Offers Information On The Nearest Emergency Mental Health Treatment Facilities</p>
        </div>
    </div>
    <br />
    <br />
</div>

<div class="container-fluid" style="background-color:#b69aec0d; padding:0px;">

    <section id="sec1" style="color:dimgray;">

        <div class="row" style="color:dimgray; padding:30px; ">
            <div class="col-md-6">
                <h5>Sitemap</h5>
                <div class="col-md-4" style="border-right:1px solid gray;">
                    <ul style="list-style-type:none;">
                        <li><a class="dimgray" href="#">Home</a></li>
                        <li><a class="dimgray" href="#">About</a></li>
                    </ul>
                </div>
                <div class="col-md-4" style="border-right:1px solid gray;">
                    <ul style="list-style-type:none;">
                        <li><a class="dimgray" href="#">Contact Us</a></li>
                        <li><a class="dimgray" href="#">Whatsapp</a></li>
                    </ul>
                </div>
                <div class="col-md-4" style="border-right:1px solid gray;">
                    <ul style="list-style-type:none;">
                        <li><a class="dimgray" href="#">Depression</a></li>
                        <li><a class="dimgray" href="#">Anxiety</a></li>
                        <li><a class="dimgray" href="#">Alcohol Addiction</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <br />
                <p style="font-size:xx-large;">
                    &copy; psycheo2psyche | <a href="https://www.facebook.com/psycheo2psyche" class="fa fa-facebook"></a> | <a href="https://psycheo2psyche.x.com/" class="fa fa-twitter"></a> | <a href="http://www.instagram.com/psycheo2psyche" class="fa fa-instagram"></a>


                </p>


            </div>
        </div>
    </section>

    <section id="sec4">
        <div class="row" style="color:dimgray; padding:30px; font-size:small;">
            <h5>Disclaimer - </h5>
            <p>
                psycheo2psyche does not deal with medical or psychological emergencies. We are not designed to offer support in crisis situations - including when an individual is experiencing thoughts of self-harm or suicide, or is showing symptoms of severe clinical disorders such as schizophrenia and other psychotic conditions. In these cases, in-person medical intervention is the most appropriate form of help.
            </p>
            <p>
                If you feel you are experiencing any of these difficulties, we would urge you to seek help at the nearest hospital or emergency room where you can connect with a psychiatrist, social worker, counsellor or therapist in person. We recommend you to involve a close family member or a friend who can offer support.
            </p>
            <p>
                You can also reach out to a suicide hotline in your country of residence: <a href="http://www.healthcollective.in/contact/helplines">helpline.</a>
            </p>
        </div>
        <br />
        <br />
    </section>


</div>
<!-- /container -->
